@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

$darkblue: #162447;
$purple: #673ab7;
$pink: #e43f5a;
$white: #eeeeee;

//DARKMODE COLORS
$darkmode_black: #1c1e21;

$shadow-smooth: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

body {
  min-height: 200vh;
  background-color: $white;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 12px;
}

::selection {
  background: $pink; /* WebKit/Blink Browsers */
  color: $white;
}
::-moz-selection {
  background: $pink; /* Gecko Browsers */
  color: $white;
}

.Header {
  width: 100%;
  margin-top: 2rem;
  padding: 1em;
  color: $darkblue;
  text-align: center;
}

.Content,
.Projects,
.Contact {
  max-width: 992px;
  display: flex;
}

.Top,
.Bottom {
  background: linear-gradient(153deg, #162447, #673ab7);
  background-size: 400% 400%;
  -webkit-animation: animate-bg 30s ease infinite;
  -moz-animation: animate-bg 30s ease infinite;
  animation: animate-bg 30s ease infinite;
}

.Top,
.Middle {
  position: relative;
  z-index: 1;
}

.instruction {
  margin: 0 0 1em 0;
  font-size: 1rem;
  text-align: center;
  color: rgba($darkblue, 0.8);
  font-weight: 600;
}
//intro section ### TOP ###
.Top {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .Intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    font-size: 1.5rem;

    &-name {
      font-weight: 800;
    }
    &-title {
      font-weight: 400;
    }
  }

  .projectBtn {
    position: absolute;
    width: 3rem;
    height: 3rem;

    bottom: 3rem;
    left: 50%;

    animation-name: scroll-arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    img {
      width: 3rem;
      height: 3rem;
      filter: invert(1);
    }
  }
}

//about-me section ### ABOUT ###
.About {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Content {
    flex-direction: column;
    align-items: center;
    max-width: 992px;
    padding: 0 3rem;
    font-size: 1.3rem;

    .about-description {
      min-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      p {
        margin-bottom: 1rem;
        line-height: 1.5;
      }
    }

    .about-skills {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;

      a {
        text-decoration: none;
        margin: 0 0.2em;

        &:hover .faIcon,
        &:hover #PSLogo {
          transform: translateY(-0.5rem);
        }
      }

      li {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.1em;
        font-size: 1em;
        font-weight: 800;
        color: $pink;
        cursor: pointer;
        .faIcon,
        #PSLogo {
          transition: all 0.2s ease;
          margin-bottom: 0.1rem;
        }

        .faIcon {
          font-size: 3em;
        }
        #PSLogo {
          width: 3em;
        }
      }
    }
  }
}

//projects section ### MIDDLE ###
.Middle {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto);
  }
}

.ProjectPreview {
  font-size: 2rem;
  text-align: center;
  transition: all 0.3s ease;
  margin: 1rem;
  margin-top: 0rem;
  cursor: pointer;
  color: $darkblue;

  .prev-title,
  .prev-img {
    transition: all 0.3s ease;
    width: 100%;
  }
  .prev-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .prev-img {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 1em 0px rgba($darkblue, 0.6);
    width: 100%;
  }
  &:hover {
    transform: scale(1.01);
    .prev-img {
      opacity: 0.75;
      box-shadow: 0px 0px 1.25em 0px rgba($darkblue, 0.4);
    }
  }
}

.ProjectDetails {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.75);
  animation-name: fade-in;
  animation-duration: 0.3s;
  cursor: pointer;

  //CLOSE-MODAL BUTTON
  .details-close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    filter: invert(1);
    transition: all 0.3s ease;

    &:hover {
      rotate: 90deg;
    }
  }

  .details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    max-width: 90vw;
    max-height: 95vh;
    overflow-y: scroll;
    cursor: default;
    background-color: $white;
    color: $darkblue;
    box-shadow: $shadow-smooth;
    animation-name: pop-in;
    animation-duration: 0.3s;
    border-radius: 0.5em;

    .details-title {
      text-align: center;
    }
    .details-img {
      width: 100%;
      max-width: 50em;
    }
    .details-desc {
      font-size: 1.25em;
      font-weight: 600;
      padding: 1em;
    }
    .details-features {
      .details-tech,
      .details-notables {
        width: 100%;
        margin-top: 1rem;
        text-align: center;
        font-weight: 600;

        .tech--items,
        .notables--items {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          justify-content: center;

          li {
            margin: 0.3rem 1rem;
            padding: 0.75rem;
            border-radius: 0.3rem;
            background-color: $pink;
            color: $white;
          }
        }
      }
    }
    .details-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 1em;

      a {
        width: 100%;
        padding: 1em 0;
        border-radius: 0.25em;
        background-color: $purple;
        color: $white;
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-weight: 800;
        margin-bottom: 1em;

        &:hover {
          background-color: $darkblue;
        }
      }
    }
  }
}

//contact section ### BOTTOM ###
.Bottom {
  min-height: 100vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .Header {
    color: $white;
  }

  .Contact {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact-links {
      display: flex;
      max-width: 90vw;
      padding: 1rem 0;
      margin-top: 2rem;
      border-radius: 0.5rem;
      background-color: white;
      justify-content: space-between;
      align-items: center;
      .contact-link {
        .faIcon {
          font-size: 1.5rem;
        }
        text-decoration: none;
        margin: 0 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          opacity: 0.75;
        }
        &:nth-child(1) {
          color: #ff022c;
        }
        &:nth-child(2) {
          color: #c77b00;
        }
        &:nth-child(3) {
          color: #41b100;
        }
        &:nth-child(4) {
          color: #008ada;
        }
        &:nth-child(5) {
          color: $purple;
          padding: 0.5rem;
          border: 3px solid $purple;
          border-radius: 0.25rem;
          transition: all 0.25s ease;

          &:hover {
            background-color: $purple;
            color: $white;
          }
        }
      }
    }
    .contact-form {
      max-width: 30rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;

      input,
      #message,
      #submit {
        border-radius: 0.5rem;
        border: none;
      }
      input,
      #message {
        padding: 1rem;
        &:focus {
          box-shadow: 0px 0px 0px 0.25rem inset $pink;
        }
      }
      label {
        display: flex;
        flex-direction: column;
        color: $white;
        margin-bottom: 0.5rem;

        input {
          min-width: 20rem;
          height: 2rem;
          font-family: "Poppins";
        }

        #message {
          resize: none;
          width: 100%;
          min-height: 20rem;
        }
      }

      #submit {
        height: 2rem;
        border: none;
        margin-top: 0.5rem;
        background-color: $pink;
        color: $white;
        font-size: 1.2rem;
        transition: background-color 100ms ease;
        padding: 0.25rem 0;
        &:hover {
          background-color: rgba($pink, 0.75);
          cursor: pointer;
        }
      }
    }
  }
}

//footer
.Footer {
  background: $pink;
  color: $white;
  text-align: center;
  padding: 1em;
}

//Wave divider effects https://www.shapedivider.app/
.custom-shape-divider-bottom-1606851356 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  svg {
    position: relative;
    display: block;
  }
  .shape-fill {
    fill: #eeeeee;
  }
}

//IF DARK MODE ENABLED...
.darkmode {
  background: $darkmode_black;

  //Make gradient darker
  .Top,
  .Bottom {
    background: linear-gradient(153deg, #162447, #241839);
    background-size: 400% 400%;
    -webkit-animation: animate-bg 30s ease infinite;
    -moz-animation: animate-bg 30s ease infinite;
    animation: animate-bg 30s ease infinite;
  }

  .Header,
  .instruction,
  .prev-title {
    color: $white;
  }
  .About,
  .Middle,
  .Project .ProjectDetails .details-wrapper {
    background: $darkmode_black;
    color: $white;
  }

  //Custom shape dividers
  .custom-shape-divider-bottom-1606851356 .shape-fill {
    fill: $darkmode_black;
  }

  //Contact area
  .Contact {
    .contact-links,
    .contact-form input,
    .contact-form textarea {
      background: $darkmode_black;
    }
    .contact-form input,
    .contact-form textarea {
      color: $white;
    }
  }
}

/*=====ANIMATIONS=====*/
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll-arrow {
  0% {
    transform: translate(-50%, -1rem);
  }
  50% {
    transform: translate(-50%, 1rem);
  }
  100% {
    transform: translate(-50%, -1rem);
  }
}

//Animated bg
@-webkit-keyframes animate-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes animate-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animate-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*=====MEDIA QUERIES=====*/
//TABLET
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .ProjectDetails .details-wrapper {
    width: 90vw;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "title title" "img info" "links links";

    .details-title {
      grid-area: title;
    }

    .details-img {
      grid-area: img;
    }

    .details-info {
      grid-area: info;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .details-features {
        grid-area: features;

        .details-tech,
        .details-notables {
          li {
            font-size: 0.75rem;
          }
        }
      }
    }

    .details-links {
      grid-area: links;
      flex-direction: row;

      a {
        margin: 0 0.25rem;
      }
    }
  }
}

//DESKTOP
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
  .ProjectDetails .details-wrapper {
    max-width: 70vw;
  }

  .Bottom .Contact {
    flex-direction: row;
    align-items: flex-start;

    .contact-links {
      flex-direction: column;
      height: auto;
      margin-top: 2rem;
      padding: 1rem;
      .contact-link {
        margin: 1rem 0;
      }
    }
  }
}
